.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
}

.pageFooter {
    color: white;
    background-color: rgb(47, 47, 47);
    text-align: center;
    font-size: 12px;
    padding: 25px;
}