/* RESET RULES  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

/* LAYOUT  */

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
}

.page-title {
  text-align: center;
  font-weight: lighter;
  padding-top: 1.5em;
  background-color: rgb(229, 226, 226);
}